
/*=====Imports=====*/

@import 'movil.css';
@import '/tablet.css';

/*=====RESET=====*/

    html {
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 16px;
    }

    
    *,
    *:after,
    *:before { 
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }
    
    img {
        max-width : 100%;
    }
    
    a {
        text-decoration : none;
    }
    
    a:hover {
        text-decoration : underline;
    }




    :root {
/*=====COLOR=====*/

    --color-black-25: #252525;

    --color-black-48: #484848;

    --color-gris: #c2c2c2;

    --color-withe: #eeeeee;

    --color-rosa : #ffe2f7;

    --color-blue: #01ccdf;

    /*=====LAYOUT=====*/
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    }






    




 
