/*=====RESET=====*/

    html {
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 16px;
    }

    
    *,
    *:after,
    *:before { 
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }
    
    img {
        max-width : 100%;
    }
    
    a {
        text-decoration : none;
    }
    
    a:hover {
        text-decoration : underline;
    }




    :root {
/*=====COLOR=====*/

    --color-black-25: #252525;

    --color-black-48: #484848;

    --color-gris: #c2c2c2;

    --color-withe: #eeeeee;

    --color-rosa : #ffe2f7;

    --color-blue: #01ccdf;


    }





/*=====HEADER LOGO=====*/


    .container {
        margin: 0.5em;
        
    }

    .container__logo {  
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .content__texts--logo h1 {
        
        font-size: 1.25em;
        font-family: 'Oswald', sans-serif;
        color: var(--color-black-25);  
    }

    .content__texts--logo h2 {
        text-align: center;
        font-size: 0.75em;
        border-bottom: 1px solid var(--color-black-48);
        color: var(--color-black-48);
    }

    .container__logo p {
        font-size: 0.625em;
        text-align: center;
        margin: 0.5em;
    }



/*=====card article large=====*/

    .container__card--large{
        padding: 0.5em;
        display: flex; 
        justify-content: center;

    }


    .dt {
        font-family: 'Oswald', sans-serif;
        font-size: 1.125em;
        color: var(--color-black-48);

    
    }

    .content__title-large {
        font-size: 2.125em; 
        font-weight: 700; 
        line-height: 1em;
        font-family: 'Oswald', sans-serif;
        color: var(--color-black-48);
        margin: 0.2em 0;

    } 


    .content__text--large {
        font-size: 18px;
    font-family: 'Lato', sans-serif;
        color: var(--color-gris);
        margin: 1.2em 0;   
    }


/*=====card head 2=====*/


    .container__banner--head-2{
        margin: 1em 0;
        display: flex; 
        justify-content: center;
    }


    .content__banner--head-2 {
        display: flex;
        flex-direction: column;
        border-top: solid 2px var(--color-gris);
        border-bottom: solid 2px var(--color-gris);
        height: 72px;
    }


    .content__title {
        font-size: 1.5em;
        justify-content: flex-start;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.2em;
        color: var(--color-black-48);
    
    }

    .content__subtitle {
        font-size: 0.8em;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        color: var(--color-gris);
        margin: 0 1em;
        
    }

    .line {
        border-top: 1px solid var(--color-gris);
        height: 0.8em;
        
    }


    .content__lines--box {
        display: flex;
        margin: 0.5em;
    
    }


    .line-box-left {
        width: 68px;
        
    }

    .line-box-rigth {
        width: 68px;
    }




/*=====CARD BANNER TOP VR=====*/




.container__banner-top {
    padding: 1.5em  0.5em 0;
    display: flex;
    justify-content: center;

  }
  
  .content__card--banner-top {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-blue);
    width: 315px;
    height: 130px;
  }
  
  .content__banner--texts {
    padding: 1em;
  }
  
  .content__banner-top--title {
    font-size: 24px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: var(--color-black-48);
  }
  
  .content__banner-top--date {
    font-size: 14px;
    font-weight: 400px;
    font-family: "Lato", sans-serif;
    color: var(--color-black-48);
  }
  
  .button-transparent {
    background-color: transparent;
    border: 1px solid  var(--color-black-25);
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    color: var(--color-black-25);
    width: 136px;
    outline: none;
    cursor: pointer;
    margin: 0.5rem 0;
  }
  

/*=====CARD MEDIUM 1=====*/


    .container__card--medium-1 {
        margin: 1.5em 0.5em;
        display: flex; 
        justify-content: center;
        align-items: center;
    
    }



    .content__text--titele {
        font-size: 1.5em;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;
        color: var(--color-black-48);
    }

    .content__paragraphs--medium-1 {
        font-size: 0.8em;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: var(--color-gris);
        margin: 0.5em 1em 0 0;
        width: 142px;
    
    }

    .button-text-arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        color: var(--color-black-25);
        
    }

    .container__medium-2 {
        margin: 1.5em 0.5em;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .content__card--medium-2 {
    width: 315px;
    height: 243px;
    }

    .content__card__medium-2--head {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image__medium-2 {
        width: 142px;
        height: 127px;
    }

    .content__title--medium-2 {
        font-size: 1.5em;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;
        color: var(--color-black-48);
        margin: 0 1rem;
        line-height: 25px;
    }

    .content__text--date {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        color: var(--color-gris);
        margin: 1rem 1rem 0;
    }

    .container__paragrphs {
        margin: 1em 1em 0 0;
    }

    .content__card--medium-2 {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: var(--color-gris);
        margin-top: 1em;
    
    
    }

    .button-text-arrow {
        margin: 1rem 0 ;
    }

    .container__banner--head {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .content__banner--head {
    
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--color-gris);
    }


    .title__banner--head {
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Abhaya Libre', san serif;
        color: var(--color-black-48);
    }

    .content__banner-head--texts {
        display: flex;
        justify-content: space-around;
    

    }

    .price {
        font-size:  1.5em;
        font-weight: 700;
        font-family: 'Abhaya Libre' sans-serif;
        color: var(--color-black-25);
    }

    .city {

        font-size: 0.875em;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        color: var(--color-black-48);
        line-height: 1em;
    }

    .img__banner-phone {
        width: 20%;
    }

    .container__small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.5em;
    }

  
    .content__card--small {
        display: flex;
        width: 300px;
        height: 81px;
        margin: 0.5em;
        object-fit: cover;
    }

  
    .content__title-small {
        display: flex;
        font-size: 18px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        color: #484848;
        margin: 0.5em;
        align-items: center;
    }


    .container__banner--bottom {
        display: flex;
        justify-content: center;
    }



    .content__card--banner-bottom {
        display: flex;
        width: 313px;
        height: 98px;
        background-color: var(--color-black-25);
        align-items: center;
        justify-content: space-between;
        padding: 2.5em;
        margin: 1.5em 0;
        
    }

    .content__title--banner-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        font-weight: 400;
        font-family: 'Cookie', cursive;
        color: var(--color-withe);
        line-height: 0.7em;
    
    }



    .banner__text__subtitle {
        font-size: 1.5em;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        line-height: 20px;
        color: var(--color-withe);
        border-bottom: 2px solid ;
        margin:  0 0 0.5em;
        
    }

    .bottom-text-arrow {

        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        font-size: 18px;
        font-weight: 400;
        font-family: var(--color-withe);
        color:  var(--color-withe);
    }


    .container__suscribe {
        display: flex;
        justify-content: center;
    }


  
    .subscribe__title {
        color: #484848;
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
   
    }
  
    .content__text--suscribe  {
      font-size: 14px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      margin-top: 1.5em;
      
    }

    .line__botton {
        border-bottom: 1px solid var(--color-gris);
        width: 315px;

    }


    .input  {
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid var(--color-gris);
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        outline: none;  
        width: 315px;
        height: 45px;

    }

    ::placeholder {
        color: var(--color-gris);
    }

    .button-subscribe {
        background-color: var(--color-black-25);
        color: var(--color-withe);
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        width: 315px;
        height: 45px;
        border: none;
        outline: none;
        cursor: pointer;
    }


    .wrap {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }


 @media screen and (min-width: 1024px  ) {

    .wrap {
        display: flex;
        height: 100%;
        margin: 4rem 1.5rem;
     }

     .container__logo {  
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: -38rem;
       
     
    }
    
    
    .content__texts--logo h1 {
        font-size: 1.25em;
        font-family: 'Oswald', sans-serif;
        color: var(--color-black-25);  
        margin:  0 1.5em ;
      
    }
    
    .content__texts--logo h2 {
        text-align: center;
        font-size: 0.75em;
        border-bottom: 1px solid var(--color-black-48);
        color: var(--color-black-48);
        margin:  0 1.5em ;
    }

    .container__banner--head-2 {
        order: -1;
        margin-top: -2rem;
       


    }


    .container__banner--head {
        order: -1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -43rem;
    }


    .container__card--medium-1 {
        display: flex;
        justify-content: flex-start;
        
    }


    .container__medium-2 {
        display: flex;
        

    }

    .container__card--large {
        margin-top: -2.5rem;
    }


    .content__card--large {
        width: 664px;
        height: 737px;
        margin-top: -27.8rem;
    }

    .image__large {
        width: 636px;
        height: 323px;
        object-fit: cover;
    }


    .container__banner-top {
        display: flex;
        justify-content: flex-end;
        order: -1;
        margin-bottom: -9.5rem;
    }


    .container__card--medium-1 {
        display: flex;
        order: -1;
        margin-bottom: -11rem;
        

    }

    .container__medium-2 {
        display: flex;
        justify-content: flex-start;
        order: -1;
        margin-top: 12rem;

    }

    .container__small {
        display: flex;
        justify-content: flex-end;
    }

    .container__small {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order: -1;
        margin-top:  12rem;
        margin-right:  1em;
        
    }

    .container__banner--bottom {
        display: flex;
        justify-content: flex-start;
        margin-top: -15rem;
    }


    .container__suscribe {
        display: flex;
        justify-content: flex-end;
    
        margin-top: -11rem;
        margin-right:  1em;
    }


 }


 @media screen and (min-width: 1440px ) {

    .wrap {
        margin: 4rem 20rem;

     
     }


 }