/*=====RESET=====*/

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
  }

  
  *,
  *:after,
  *:before { 
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  img {
      max-width : 100%;
  }
  
  a {
      text-decoration : none;
  }
  
  a:hover {
      text-decoration : underline;
  }



/*=====FONTS=====*/
/*

'Oswald', sans-serif;

'Lato', sans-serif;

'Cookie', cursive;

'Abhaya Libre', san serif;

*/





:root {


/*=====COLOR=====*/


--color-black-25: #252525;

--color-black-48: #484848;

--color-gris: #c2c2c2;

--color-withe: #eeeeee;

--color-rosa : #ffe2f7;

--color-blue: #01ccdf;


}





/*=====HEADER LOGO=====*/


.container {
    margin: 0.5em;
    
}

.container__logo {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.content__texts--logo h1 {
    
    font-size: 1.25em;
    font-family: 'Oswald', sans-serif;
    color: var(--color-black-25);  
}

.content__texts--logo h2 {
    text-align: center;
    font-size: 0.75em;
    border-bottom: 1px solid var(--color-black-48);
    color: var(--color-black-48);
}

.container__logo p {
    font-size: 0.625em;
    text-align: center;
    margin: 0.5em;
}



/*=====card article large=====*/

.container__card--large{
    padding: 0.5em;
    display: flex; 
    justify-content: center;

}
/*
.content__card--large {
    width: 636px;  
    height: 562px; 
}

.content__image {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

*/


.dt {
    font-family: 'Oswald', sans-serif;
    font-size: 1.125em;
    color: var(--color-black-48);

   
}

.content__title-large {
    font-size: 2.125em; 
    font-weight: 700; 
    line-height: 1em;
    font-family: 'Oswald', sans-serif;
    color: var(--color-black-48);
    margin: 0.2em 0;

} 


.content__text--large {
    font-size: 18px;
   font-family: 'Lato', sans-serif;
    color: var(--color-gris);
    margin: 1.2em 0;
   
}


/*=====card head 2=====*/


.container__banner--head-2{
    margin: 1em 0;
    display: flex; 
    justify-content: center;
}


.content__banner--head-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px var(--color-gris);
    border-bottom: solid 2px var(--color-gris);
    width: 426px;
    height: 72px;
}


.content__title {
    font-size: 1.5em;
    justify-content: flex-start;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2em;
    color: var(--color-black-48);
   
}

.content__subtitle {
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'lato', sans-serif;
    color: var(--color-gris);
    margin: 0 1em;
    
}

.line {
    border-top: 1px solid var(--color-gris);
    height: 0.8em;
    
}


.content__lines--box {
    display: flex;
    margin: 0.5em;
  
}


.line-box-left {
    width: 68px;
    
}

.line-box-rigth {
    width: 68px;
}




/*=====CARD BANNER TOP VR=====*/




.content__card--banner-top {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-blue);
   

}



.content__banner--texts {
    margin: auto;
    padding: 0.5em;
    
}

.content__banner-top--title {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'oswald' sans-serif;
    color: var(--color-black-48);
}


.content__banner-top--date {
    font-size: 0.8em;
    font-weight: 400px;
    font-family: 'lato' sans-serif;
    color: var(--color-black-48)
}

.button-transparent {
    background-color: transparent;
    border: 1px solid var(--color-black-48);
    font-size: 1.5em;
    font-family: 'oswald' sans-serif;
    color: var(--color-black-25);
    padding: 0.2em;
    outline: none;
    cursor: pointer;
    margin: 0.5em 0;
}


/*=====CARD MEDIUM 1=====*/

.container__card--medium-1 {
    margin: 1em 0;
    padding: .5em;
    display: flex; 
    justify-content: center;
}
.content__card--medium-1 {
    display: flex;
    width: 315%;
    height: 243%;
    
}

.content__text--titele {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'oswald' sans-serif;
    color: var(--color-black-48);
}

.content__paragraphs--medium-1 {
    font-size:  0.875em;
    font-weight: 400;
    font-family: 'lato'sans-serif; 
    color: var(--color-gris);
    margin: 1rem 1rem 0 0;
   
}

.button-text-arrow {
    margin: 1em ;
    background-color: transparent;
    border: none;
    
}


.content__card--medium-2 {
    width: 315px;
    height: 243px;
}

.content__card__medium-2--head {
    display: flex;
    padding: 0.5em;
}

.content__title--medium-2 {

    font-size: 1.5em;
    font-weight: 600;
    font-family: 'oswald' sans-serif;
    color: var(--color-black-48);
    margin: 0 0.5em;
    line-height: 30px;
}


.container__paragrphs {
    margin: 0.5em;
}
.content__text--date {

    font-size:  0.875em;
    font-weight: 600;
    font-family: 'lato' sans-serif;
    color: var(--color-gris);
    margin: 0.5em 0.5em 0;
}

.content__card--medium-2 {
    font-size:  0.875em;
    font-weight: 400;
    font-family: 'lato' sans-serif;
    color: var(--color-gris);
    margin: 1rem 0 0;
   
}

.button-text-arrow {
    margin:  0.5em;
}





.content__banner--head {

    margin: 1em  0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-gris);
}

.container__banner--title {
    margin: 0 1.5em;
}

.title__banner--head {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Abhaya Libre', san serif;
    color: var(--color-black-48);
}

.content__banner-head--texts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.price {
    font-size:  1.5em;
    font-weight: 700;
    font-family: 'Abhaya Libre' sans-serif;
    color: var(--color-black-25);
}

.city {

    font-size: 0.875em;
    font-weight: 400;
    font-family: 'oswald', sans-serif;
    color: var(--color-black-48);
    line-height: 1em;
}

.img__banner-phone {
    width: 20%;
}



.content__card--small {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 0.5em;


}

.content__title-small {
    font-size: 1.125em;
    font-weight: 600;
    font-family: 'oswald', sans-serif;
    color: var(--color-black-48);
    margin:  0.5em 0.5em;

}





.container__suscribe {
    display: flex;
    justify-content:space-around;

}






.subscribe__title  {
    color: var(--color-black-48);
    font-size: 20px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    margin: 1em 0.5em ;
 
}


.content__text--subcribe {
    font-size: 0.8em;
    font-weight: 400;
    font-family: 'lato', sans-serif;
    color: var(--color-black-48);
    margin-left : 0.5em;
    border-bottom: 1px solid var(--color-gris);
    width: 315px;
}



.input {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid var(--color-gris);
    font-family: 'lato', sans-serif;
    font-size: 1.125em;
    outline: none;  
    margin: 1.5em 0.5em;
    width: 315px;
    
}

::placeholder {
    color: var(--color-gris);
}

.button-subscribe {
    background-color: var(--color-black-25);
    color: var(--color-withe);
    font-size: 20px;
    font-family: 'oswald', sans-serif;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 1.5em;
}



